<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blog.mapper.UsersMapper">

    <select id="GetOneByUsernameAndPasswd" resultType="com.example.blog.Model.Users"> 
        SELECT * from users where name=#{username} and passwd=#{passwd} 
    </select>

    <select id="GetList" resultType="com.example.blog.Model.Users"> 
        SELECT * FROM users Order By id Desc limit #{limit} offset  #{offset} 
    </select>

</mapper>